<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21062BorisFritscher.CampusFoodLausanne" Publisher="CN=01B08AD2-A707-40F9-B4EC-5DD803BB4E0F" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Campus Food Lausanne</DisplayName>
    <PublisherDisplayName>Boris Fritscher</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CampusFood.App">
      <VisualElements DisplayName="Campus Food Lausanne" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="CampusFood" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>